.panels > div {
	 margin-top: 6px;
	 margin-left: 5px;
	 margin-right: 5px;
	 border: 3px solid black;
}
 .panels {
	 background: white;
	 display: grid;
	 grid-gap: 10px;
	 grid-template-columns: 225px auto auto;
	 grid-template-rows: auto auto;
}
 .panel-action {
     padding: 20px;
	 grid-row: span 2;
}
 .panel-positions {
	 grid-column: span 2;
}
 .panel-converter {
	 color: #ddd;
	 padding: 10px;
}
 .panel-converter h1 {
	 color: #eef;
	 text-align: center;
}
 .panel-converter button {
	 margin-left: 20px;
}
 @media (max-width: 750px) {
	 .panels {
		 grid-template-columns: 225px auto;
		 grid-template-rows: auto auto auto;
	}
	 .panel-positions {
		 grid-column: span 2;
	}
}
 @media (max-width: 500px) {
	 .panels {
		 grid-template-columns: auto;
	}
	 .panel-positions {
		 grid-column: span 1;
	}
}
